body {
  background-color: skyblue; /* Couleur de fond bleu ciel */
}
.logo_tenuki {
  position: absolute; /* Position absolue pour placer le logo */
  top: 10px; /* Distance depuis le haut en pixels */
  left: 10px; /* Distance depuis la gauche en pixels */
}
.logo {
  width: 15%;
}

#video-container {
  display: grid;
  place-items: center; /* Centre horizontalement et verticalement */
  display: none; /* Cache la vidéo initialement */

}

.video {

  object-fit: cover; /* Remplit le conteneur vidéo sans déformation */
}